.about-us {
  padding: 80px 0;
  background-color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition:  0.3s ease-in-out; ;
  border: 5px solid var(--primary-orange);
}
.about-image:hover img {
  transform: scale(1.005);
  border: 5px solid var(--primary-blue);
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text p {
  font-size: 30px;
  max-width: 1000px;
  line-height: 1.3;
  color: var(--primary-blue);
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.about-us .btn.btn-outline{
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--primary-orange);
  color: white;
  border: 2px solid var(--primary-orange);
}
.about-us .btn.btn-outline:hover{
  border: 2px solid var(--primary-blue);
  background-color: var(--primary-blue);
  color: white;
}
.about-us .btn.btn-outline i{
  font-size: 25px;
  margin:2px;
}


@media (max-width: 576px) {
  .about-us {
    padding: 60px 0;
  }
  .about-content {
    gap: 10px;
  }
  .about-us img {
    border-width:3px ;
  }

  .about-text p {
    font-size: 16px;
    font-weight: 600;
  }

  .about-us .btn.btn-outline{
    font-size: 16px;
  }
}

