.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img {
  height: 45px;
  margin-right: 8px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-blue);
  font-weight: 700;
  transition: color 0.3s ease;
  font-size: 18px;
  transition: 0.3s;
}
.nav-links .btn.mobile {
  color: white;
  display: none;
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--primary-orange);
  font-weight: bold;
  padding: 0;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--primary-blue);
  margin-bottom: 5px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.menu-toggle.active span {
  background-color: var(--primary-orange);

}

@media (max-width: 992px) {
  .menu-toggle {
    display: flex;
  }

  .btn.desktop {
    display: none;
  }
  .nav-links .btn.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-150%);
    transition: transform 0.3s ease;
    z-index: 999;
  
  }

  .nav-links.active {
    transform: translateY(0);
  }

  .nav-links li {
    margin: 15px 0;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  .start-now-btn {
    display: none;
  }
}

